@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KUZZECHKA</title>
    <link rel="icon" type="image/x-icon" href="~/source/images/favicon.png"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KUZZECHKA.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid" style="width: 1180px">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/source/images/logo.png" width="100" height="50"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link link-primary text-dark" asp-area="" asp-controller="Practice" asp-action="Index">@Localizer["Практика"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-primary text-dark" asp-area="" asp-controller="Survey" asp-action="Index">@Localizer["Опросник"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-primary text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@Localizer["О нас"]</a>
                        </li>
                    </ul>
                    <select class="form-select-sm" id="cultureSelect">
                        <option value="ru-RU">Русский</option>
                        <option value="en-US">English</option>
                        <option value="fr-FR">Français</option>
                        <option value="ar-SA">عرب</option>
                    </select>
                    <partial name="_LoginPartial"/>
                </div>
            </div>
        </nav>
    </header>


        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2023 - KUZZECHKA - <a asp-area="" asp-controller="Home" asp-action="Privacy">@Localizer["Политика"]</a>
                <p class="float-end"><a href="#">Back to top</a></p>
            </div>
        </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.getElementById("cultureSelect").addEventListener("change", function () {
            var culture = this.value;
            document.cookie = "culture=" + culture;
            window.location.reload();
        });

        window.addEventListener("load", function () {
            var culture = getCookie("culture");
            if (culture) {
                document.getElementById("cultureSelect").value = culture;
            }
        });

        function getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
