@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer


    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img class="bd-placeholder-img" width="100%" height="100%" src="~/source/slides/1.jpg"/>
                <div class="container">
                    <div class="carousel-caption text-start">
                    <h1>@Localizer["Проходите наши уроки"]</h1>
                    <p>@Localizer["Наши уроки помогут вам общаться с разными людьми на многих языках"]</p>
                    <p><a class="btn btn-lg btn-primary" asp-area="Identity" asp-page="/Account/Login">@Localizer["Зарегистрироваться"]</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
            <img class="bd-placeholder-img" width="100%" height="100%" src="~/source/slides/2.jpg"/>
                <div class="container">
                    <div class="carousel-caption">
                    <h1>@Localizer["Мы предоставляем услуги"]</h1>
                    <p>@Localizer["Вы можете прочесть наш блок 'О нас' чтобы лучше ознакомится"]</p>
                    <p><a class="btn btn-lg btn-primary" asp-controller="Survey" asp-action="About">@Localizer["Узнать больше"]</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
            <img class="bd-placeholder-img" width="100%" height="100%" src="~/source/slides/3.jpg" />
                <div class="container">
                    <div class="carousel-caption text-end">
                    <h1>@Localizer["У нас есть Офисы"]</h1>
                    <p>@Localizer["Вы можете найти нас во многих городах в разных странах"]</p>
                    <p><a class="btn btn-lg btn-primary" asp-controller="Info" asp-action="Index">@Localizer["Подробнее"]...</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container marketing">

        <div class="row">
            <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="~/source/images/Practice.jpg" />
            <h2>@Localizer["Теория"]</h2>
            <p>@Localizer["В этом блоке мы предоставляем вам краткую информацию для обучения чтобы вы могли ознакомиться"]</p>
            <p><a class="btn btn-secondary" asp-controller="Practice" asp-action="Index">@Localizer["Перейти"] &raquo;</a></p>
            </div>
            <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="~/source/images/Quiz.jpg" />
            <h2>@Localizer["Тесты"]</h2>
            <p>@Localizer["Тесты на которые вы можете ответить на разных языках и позже мы сообщим вам о результате"]</p>
            <p><a class="btn btn-secondary" asp-controller="Survey" asp-action="Index">@Localizer["Перейти"] &raquo;</a></p>
            </div>
            <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="~/source/images/info.jpg" />
            <h2>@Localizer["Политика"]</h2>
            <p>@Localizer["Политика нашей компании с которой вы можете ознакомиться для дальнейшего с нами сотрудничества"]</p>
            <p><a class="btn btn-secondary" asp-controller="Survey" asp-action="Privacy">@Localizer["Перейти"] &raquo;</a></p>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
            <h2 class="featurette-heading">@Localizer["Почему именно мы."] <span class="text-muted">@Localizer["Мы лучшие."]</span></h2>
            <p class="lead">@Localizer["Многие из нас готовы вам помочь, в изучении того или иного языка ведь это весело."]</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="~/source/images/we_can_help_u.jpg" width="500" height="500" />
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">@Localizer["И не забывайте."] <span class="text-muted">@Localizer["Помните о практике."]</span></h2>
            <p class="lead">@Localizer["Наша компания поможет вам пройти практику в одном из наших офисов расположенных в мире."]</p>
            </div>
            <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="~/source/images/supported_lang.jpg" width="500" height="500" />

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
            <h2 class="featurette-heading">@Localizer["Все за всех и все за одного."] <span class="text-muted">@Localizer["Мы все одна большая семья."]</span></h2>
            <p class="lead">@Localizer["Все наши преподаватели и ученики всегда готовы помочь друг другу, если что-то не так."]</p>
            </div>
            <div class="col-md-5">
               <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="~/source/images/about_us.jpg" width="500" height="500" />

            </div>
        </div>

        <hr class="featurette-divider">
    </div>